.panel {
  width: 71.75px;
  height: 43.75px;
  background-image: url('../images/nums_background.svg?v=15');
}
.number-0 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-0.svg?v=15');
}
.number-1 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-1.svg?v=15');
}
.number-2 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-2.svg?v=15');
}
.number-3 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-3.svg?v=15');
}
.number-4 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-4.svg?v=15');
}
.number-5 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-5.svg?v=15');
}
.number-6 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-6.svg?v=15');
}
.number-7 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-7.svg?v=15');
}
.number-8 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-8.svg?v=15');
}
.number-9 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('../images/number-9.svg?v=15');
}

.face {
  width: 45.5px;
  height: 45.5px;
  background-image: url('../images/face_unpressed.svg');
}
.face:active,
.face:active.lose {
  background-image: url('../images/face_pressed.svg');
}
.face.lose {
  background-image: url('../images/face_lose.svg');
}

.line {
  width: 252px;
  height: 19.25px;
  background-image: url('../images/border_hor_2x.png?v=15');
}
.top-left-corner {
  width: 21px;
  height: 19.25px;
  background-image: url('../images/corner_up_left_2x.png');
}
.top-right-corner {
  width: 21px;
  height: 19.25px;
  background-image: url('../images/corner_up_right_2x.png');
}
.bottom-left-corner {
  width: 21px;
  height: 19.25px;
  background-image: url('../images/corner_bottom_left_2x.png');
}
.bottom-right-corner {
  width: 21px;
  height: 19.25px;
  background-image: url('../images/corner_bottom_right_2x.png');
}
.intersection-left {
  width: 21px;
  height: 19.25px;
  background-image: url('../images/t_left_2x.png');
}
.intersection-right {
  width: 21px;
  height: 19.25px;
  background-image: url('../images/t_right_2x.png');
}
.left-bar,
.right-bar {
  background-image: url('../images/border_vert_2x.png?v=15');
}
.wall {
  width: 21px;
  height: 100%;
  background-image: url('../images/border_vert_2x.png');
}
.cell {
  width: 28px;
  height: 28px;
  background-image: url('../images/cell-unpressed.svg');
}
.cell:active {
  background-image: url('../images/cell-pressed.svg');
}
.flag {
  width: 28px;
  height: 28px;
  background-image: url('../images/flag.svg');
}
.mine {
  width: 28px;
  height: 28px;
  background-image: url('../images/mine.svg');
}
.mine-red {
  width: 28px;
  height: 28px;
  background-image: url('../images/mine_red.svg');
}
.mine_wrong {
  width: 28px;
  height: 28px;
  background-image: url('../images/mine_wrong.svg');
}
