#gameboard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 294px;
  height: 252px;
}

#gameboard #cellblock .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bottom-bar {
  display: flex;
  align-items: center;
}
