.number-0 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-0.svg?v=15');
}
.number-1 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-1.svg?v=15');
}
.number-2 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-2.svg?v=15');
}
.number-3 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-3.svg?v=15');
}
.number-4 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-4.svg?v=15');
}
.number-5 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-5.svg?v=15');
}
.number-6 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-6.svg?v=15');
}
.number-7 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-7.svg?v=15');
}
.number-8 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-8.svg?v=15');
}
.number-9 {
  width: 19.25px;
  height: 36.75px;
  background-image: url('./images/number-9.svg?v=15');
}
